<section class="main">
  <div class="przedmioty-zdolnosci">
    <div class="bronie">
      <h4>Bronie<a
          data-action="dodajAZ"
          data-type="ataki"
          class="fa fa-plus"
        ></a></h4>
      {{#each system.ataki as |atak index|}}
        <div class="flexrow">
          <a data-action="atak" data-id="{{index}}">{{atak.nazwa}}</a>
          <a class="fa fas-minus" data-action="usun"  data-index="{{index}}" data-type="ataki"></a>
          <div class="flexcol">
            <label>Ilość Kości do Trafienia</label>
            <input
              name="system.ataki[{{index}}].atak"
              min="1"
              value="{{atak.atak}}"
            />
          </div>
          <div class="flexcol">
            <label>Ilość Obrażeń</label>
            <input
              name="system.ataki[{{index}}].obrazenia"
              min="1"
              value="{{atak.obrazenia}}"
            />
          </div>
        </div>
      {{/each}}
    </div>
    {{#if (neq czary {})}}
        <div class="czary">
      <h4>Czary<a
          data-action="dodajAZ"
          data-type="czary"
          class="fa fa-plus"
        ></a></h4>
      {{#each system.czary as |czar index|}}
        <div class="flexrow">
          <a data-action="czar" data-id="{{index}}">{{czar.nazwa}}</a>
          {{#if (neq czar.id "")}}
                        <a
                class="threeDots"
                data-action="itemContextMenu"
                data-item="{{czar.id}}"
                data-index="{{index}}"
              >
          {{/if}}
          <a class="fa fas-minus" data-action="usun" data-item="{{czar.id}}" data-index="{{index}}" data-type="czary"></a>
          <div class="flexcol">
            <label>Ilość Kości do Rzucenia Czaru</label>
            <input
              name="system.czary[{{index}}].atak"
              min="1"
              value="{{czar.atak}}"
            />
          </div>
          <div class="flexcol">
            <label>Ilość Obrażeń</label>
            <input
              name="system.ataki[{{index}}].obrazenia"
              min="1"
              value="{{czar.obrazenia}}"
            />
          </div>
        </div>
      {{/each}}
    </div>
    {{/if}}
    <div class="zdolnosci">
      <h4>Zdolności<a
          data-action="dodajAZ"
          data-type="zdolnosci"
          class="fa fa-plus"
        ></a></h4>
        {{#each zdolnosci as |z|}}
        <div class="flexrow">
  <a data-action="doCzatu">{{z.nazwa.value}}</a>
  <a class="fa fas-minus" data-action="usun" data-index="{{index}}" data-type="zdolnosci"></a>

  {{formInput
    z.opis.field
    value=z.opis.value
    enriched=z.opis.enriched
    toggled="true"
  }}
  </div>
{{/each}}
    </div>
  </div>
  <div class="opis">
    <h4>Opis</h4>
    {{formInput
      opis.field
      value=opis.value
      enriched=opis.enriched
      toggled="true"
    }}
  </div>
</section>