<section class="conditions">

  <label>Ciężkie Rany</label>
  {{formInput
    system.conditions.ciezkieRany
    value=system.conditions.ciezkieRany
    multiline=true
  }}

  <label>Głód</label>
  {{formInput
    system.conditions.glod
    value=system.conditions.glod
    type="number"
  }}

  <label>Odwodnienie</label>
  {{formInput
    system.conditions.odwodnienie
    value=system.conditions.odwodnienie
    type="number"
  }}

  <label>Zmęczenie</label>
  {{formInput
    system.conditions.zmeczenie
    value=system.conditions.zmeczenie
    type="number"
  }}

  <label>Wychłodzenie</label>
  {{formInput
    system.conditions.wychlodzenie
    value=system.conditions.wychlodzenie
    type="number"
  }}

</section>