<section class="conditions">

  <label>Ciężkie Rany</label>
  {{formInput
    systemFields.ciezkie_rany
    value=system.ciezkie_rany
    multiline=true
  }}
  <div class="conditions-wrapper">
    <div class="condition">
      <label>Głód</label>
      {{formInput systemFields.glod value=system.glod type="boolean"}}
    </div>
    <div class="condition">
      <label>Pragnienie</label>
      {{formInput
        systemFields.odwodnienie
        value=system.odwodnienie
        type="boolean"
      }}
    </div>
    <div class="condition">
      <label>Zmęczenie</label>
      {{formInput systemFields.zmeczenie value=system.zmeczenie type="boolean"}}
    </div>
    <div class="condition">
      <label>Odwodnienie</label>
      {{formInput
        systemFields.odwodnienie
        value=system.odwodnienie
        type="boolean"
      }}
    </div>

    <div class="condition">
      <label>Wychłodzenie</label>
      {{formInput
        systemFields.wychlodzenie
        value=system.wychlodzenie
        type="boolean"
      }}
    </div>

  </div>
</section>