<section class="conditions">

  <label>Ciężkie Rany</label>
  <textarea name="system.ciezkie_rany" rows="4">
    {{system.ciezkie_rany}}
  </textarea>
  <div class="conditions-wrapper">
    <ul class="conditions-list unlist">
      {{#each conditions}}
        <li
          class="condition flexrow {{cssClass}}"
          data-action="toggleCondition"
          data-uuid="{{reference}}"
          data-condition-id="{{id}}"
        >
          <img class="icon" src="{{img}}" alt="{{name}}" />
          <div class="name-stacked">
            <span class="title">{{name}}</span>
          </div>
          <div class="toggle">
            {{#if disabled}}
              <i class="fa-solid fw fa-toggle-off"></i>
            {{else}}
              <i class="fa-solid fw fa-toggle-on"></i>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</section>