<div>

  <div class="sheet-header">
  <div class="image-container">
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      data-action="editImage"
      data-edit="img"
    />
  </div>
  <div class="identity">
    <label>Miano</label>
    <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>

    <label>Profesja</label>
    <a>{{profesja profesja}}</a>

    <label>PD</label>
    {{formInput systemFields.pd value=system.pd type="number"}}

    
      <label>Cele Osobiste</label>
      {{formInput systemFields.cele_osobiste value=system.cele_osobiste multiline=true}}

  </div>
</div>

  <section class="sheet-body flexrow">

    <div class="left-column">
      {{> "systems/wiedzmin_yze/templates/postac/resources.hbs"}}
      {{> "systems/wiedzmin_yze/templates/postac/conditions.hbs"}}
      {{> "systems/wiedzmin_yze/templates/postac/weapons.hbs"}}
    </div>

    <div class="center-column">
      {{> "systems/wiedzmin_yze/templates/postac/attributes.hbs"}}
    </div>

    <div class="right-column">
      {{> "systems/wiedzmin_yze/templates/postac/talents.hbs"}}
      {{> "systems/wiedzmin_yze/templates/postac/equipment.hbs"}}
      {{> "systems/wiedzmin_yze/templates/postac/notes.hbs"}}
    </div>

  </section>
</div>
