<section class="sheet-header">
  <div class="image-container">
    {{#if (not tokenDisplay)}}
    <img
      class="profile-img"
      src="{{@root.actor.img}}"
      data-edit="img"
      data-action="editImage"
      data-edit="img"
    />
    {{else}}
    <img
      class="profile-img"
      src="{{@root.tokenImg}}"
      data-action="editImage"
      data-edit="prototypeToken.texture.src"
    />
    {{/if}}
      <div class="toggle-wrapper">
  <span class="label">Obraz</span>
  <label class="switch">
    <input type="checkbox" data-action="toggle" {{#if tokenDisplay}}checked{{/if}}>
    <span class="slider"></span>
  </label>

  <span class="label">Token</span>
</div>
  </div>
  <div class="identity">
    <label>Miano</label>
    <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
    <label>Rasa</label>
    {{#if rasa}}
      <div class="flexrow">
        <label class="rasa-label"> {{rasa.rasaName}}</label>
        <a
          class="threeDots"
          data-action="itemContextMenu"
          data-item="{{rasa.id}}"
        >
          <i class="fas fa-ellipsis-v"></i>
        </a>
      </div>
    {{else}}
      <div></div>
    {{/if}}
    <label>Profesja</label>
    {{#if profesja}}
      <div class="flexrow">
        <label class="rasa-label"> {{profesja.profesjaName}}</label>
        <a
          class="threeDots"
          data-action="itemContextMenu"
          data-item="{{profesja.id}}"
        >
          <i class="fas fa-ellipsis-v"></i>
        </a>
      </div>
    {{else}}
      <div></div>
    {{/if}}

    <label>PD</label>
    {{formInput systemFields.pd value=system.pd type="number"}}
    <label>Zamożność</label>
    {{formInput systemFields.zamoznosc value=system.zamoznosc type="number"}}
    <label>Cele Osobiste</label>
    <textarea name="system.cele_osobiste" rows="4">
      {{system.cele_osobiste}}
    </textarea>

  </div>
</section>