<section class="sheet-header">
  <div class="image-container">
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      data-action="editImage"
      data-edit="img"
    />
  </div>
  <div class="identity">
    <label>Miano</label>
    <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
    <label>Rasa</label>
    {{#if rasa}}
      <div class="flexrow">
        <label class="rasa-label"> {{rasa.rasaName}}</label>
        <a
          class="threeDots"
          data-action="itemContextMenu"
          data-item="{{rasa.id}}"
        >
          <i class="fas fa-ellipsis-v"></i>
        </a>
      </div>
    {{else}}
      <div></div>
    {{/if}}
    <label>Profesja</label>
    {{#if profesja}}
      <div class="flexrow">
        <label class="rasa-label"> {{profesja.profesjaName}}</label>
        <a
          class="threeDots"
          data-action="itemContextMenu"
          data-item="{{profesja.id}}"
        >
          <i class="fas fa-ellipsis-v"></i>
        </a>
      </div>
    {{else}}
      <div></div>
    {{/if}}

    <label>PD</label>
    {{formInput systemFields.pd value=system.pd type="number"}}
    <label>Zamożność</label>
    {{formInput systemFields.zamoznosc value=system.zamoznosc type="number"}}
    <label>Cele Osobiste</label>
    <textarea name="system.cele_osobiste" rows="4">
      {{system.cele_osobiste}}
    </textarea>
  </div>
  <nav class="sheet-tabs tabs" data-group="items">
    <a data-action="tab" data-tab="talenty" data-group="items">Talenty</a>
    <a data-action="tab" data-tab="bron-pancerz" data-group="items">Broń i
      Pancerz</a>
    {{#if (ne system.punkty_mocy.max 0)}}
      <a data-action="tab" data-tab="czary" data-group="items">Czary</a>
    {{/if}}
  </nav>
</section>