<section class="tab talenty lewa {{tabs.talenty.cssClass}}" 
data-tab="talenty" 
action-data="tab"
  data-group="items">

  <h3>Talenty</h3>
  <div class="talents-list">
    {{#each talenty as |talent key|}}
      <div class="talent" data-item="{{key}}">
        <div class="telent-img">
          <img src="{{talent.img}}" class="talent-img" />
        </div>
        <label>{{talent.name}}</label>

        {{#if talent.rzucany}}
          <span class="rzucany" data-action="rzut_talen" data-item="{{key}}">
            <i class="fas fa-dice"></i>
          </span>

        {{else}}
          {{#if talent.czerpanieMocy}}
            <a>
              <img
                src="systems\wiedzmin_yze\assets\magic.png"
                width="35"
                height="35"
                data-action="pobierzMoc"
                data-item="{{key}}"
              />
            </a>
          {{else}}
            <span></span>
          {{/if}}
        {{/if}}
        <div
          class="threeDots"
          data-action="itemContextMenu"
          data-item="{{key}}"
        >
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
    {{/each}}
  </div>
</section>