<section class="talents">

  <h3>Talenty</h3>
  <div class="talents-list">
    {{#each talenty as |talent key|}}
      <div class="talent" data-item="{{key}}">
        <div class="telent-img">
          <img src="{{talent.img}}" class="talent-img" />
        </div>
        <label>{{talent.name}}</label>
        {{#if talent.rzucany}}
          <span class="rzucany" data-action="rzut_talen" data-item="{{key}}">
            <i class="fas fa-dice"></i>
          </span>

        {{else}}
        {{#if talent.czerpanieMocy}}
          <button class="rzucany" data-action="pobierzMoc" data-item="{{key}}">
            <img src="systems\wiedzmin_yze\assets\magic.png" width="16" height="16" data-action="pobierzMoc" data-item="{{key}}">
          </button>
        {{/if}}
          <span></span>
        {{/if}}
        <div
          class="threeDots"
          data-action="itemContextMenu"
          data-item="{{key}}"
        >
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </div>
    {{/each}}
  </div>
</section>