<div class="wiedzmin-roll-chat">
  <h4>
    {{#if (not forsowac)}}
      Forsowany wynik rzutu na
    {{else}}
      Wynik rzutu na
    {{/if}}
    {{atrubutLabel}}
    {{umiejkaLabel}}</h4>
    {{#if (ne item.lenght 0)}}
      <span>Wykorzytując Talenty
        {{#each item}}   
          <button class="openTalenet" data-itemID="{{this.id}}">{{this.itemName}}</button>"
        {{/each}}
      </span>  
    {{/if}}
  <div class="result-summary">

    {{#if isSuccess}}
      <h4><strong>Sukces!</strong></h4>
      {{#if extraSuccesses}}
        <p>Nadprogramowe sukcesy: {{extraSuccesses}}</p>
      {{/if}}

    {{else}}
      <p><strong>Porażka</strong></p>
    {{/if}}

    {{#if pech}}
      <p class="pech-warning">
        ⚠ Pech! (Na kościach adrenaliny wypadła 1)
      </p>
    {{/if}}

    {{#if iloscPrzerzuconych}}
      <p>Przerzucono:
        {{iloscPrzerzuconych}}
        Zwykłych kości i
        {{adrenalinaDice.rolls.length}}d6 Kości Adrenaliny</p>
    {{/if}}
  </div>

  <div class="dice-roll" data-action="expandRoll">

    <div class="dice-formula">{{formula}}</div>

    <div class="dice-tooltip">
      <div class="wrapper">

        {{#if normalDice}}
          <section class="tooltip-part">
            <div class="dice">
              <header class="part-header flexrow">
                <span class="part-formula">

                  Zwykłe Kosci
                  {{normalDice.rolls.length}}d6
                </span>
              </header>

              <ol class="dice-rolls">
                {{#each normalDice.rolls}}
                  <li class="roll die d6 {{classes}}">
                    {{result}}
                  </li>
                {{/each}}
              </ol>
            </div>
          </section>
        {{/if}}

        {{#if adrenalinaDice}}
          <section class="tooltip-part">
            <div class="dice">
              <header class="part-header flexrow">
                <span class="part-formula">
                  Kości Adrenaliny
                  {{adrenalinaDice.rolls.length}}d6
                </span>
              </header>

              <ol class="dice-rolls">
                {{#each adrenalinaDice.rolls}}
                  <li class="roll die d6 {{classes}}">
                    {{result}}
                  </li>
                {{/each}}
              </ol>
            </div>
          </section>
        {{/if}}

      </div>
    </div>

  </div>
  {{#if (and forsowac (not pech))}}
    <div class="forsowanie">
      <button class="forsuj-button" data-action="forsuj">Forsuj</button>
    </div>
  {{/if}}

</div>