<div class="dice-tooltip">
  <div class="">

    {{#if normalDice}}
      <section class="tooltip-part">
        <div class="dice">
          <header class="part-header flexrow">
            <span class="part-formula">

              Zwykłe Kosci
              {{normalDice.rolls.length}}d6
            </span>
          </header>

          <ol class="dice-rolls">
            {{#each normalDice.rolls}}
              <li class="roll die d6">
                {{#if (eq classes "max")}}
                  <img
                    class="roll-sucess"
                    src="systems\wiedzmin_yze\assets\white_wither.webp"
                  />
                {{else}}
                  <img class="roll-failure" />
                {{/if}}
              </li>
            {{/each}}
          </ol>
        </div>
      </section>
    {{/if}}

    {{#if adrenalinaDice}}
      <section class="tooltip-part">
        <div class="dice">
          <header class="part-header flexrow">
            <span class="part-formula">
              Kości Adrenaliny
              {{adrenalinaDice.rolls.length}}d6
            </span>
          </header>

          <ol class="dice-rolls">
            {{#each adrenalinaDice.rolls}}
              <li class="roll die d6">
                {{#if (eq classes "max")}}
                  <img
                    class="roll-sucess"
                    src="systems\wiedzmin_yze\assets\red_wither.webp"
                  />
                {{else}}
                  {{#if (eq classes "min")}}
                    <img
                      class="roll-pech"
                      src="systems\wiedzmin_yze\assets\wild_gone.webp"
                    />
                  {{else}}
                    <img class="roll-failure" />
                  {{/if}}
                {{/if}}
              </li>
            {{/each}}
          </ol>
        </div>
      </section>
    {{/if}}

  </div>
</div>