<div class="wiedzmin-roll-chat">
      
  <h4>
      Wynik rzutu na Czar
    <br />        <button
          class="openTalenet"
          data-itemID="{{czar.uuid}}"
        >{{czar.name}}</button>
    z{{atrubutLabel}}
    <br />{{umiejkaLabel}}</h4>
    <diiv>
      <label>Zużyto {{wydanaMoc.bazowa}} Punktów Magii z kosztu bazowego czaru</label>
      {{#if wydanaMoc.dodatkowaMoc}}
        <label>oraz {{wydanaMoc.dodatkowaMoc}} Punktów Magii z dodatkowej mocy</label>
      {{/if}}
    </diiv>
      {{#if obrazeniaDlaRzucajacego}}
    <div>
        <label>Zurzyto więcej Punktów Magii niż pozwala Poziom Mocy, co spododowało zadanie {{iloscObrazen}} obrażeń.</label>
    </div>
  {{/if}}
  <div>
    <label>Opis czaru: {{{czar.system.opis}}}</label>
  </div>
  {{#if item}}
    <span>Wykorzytując Talenty
      {{#each item}}

      {{/each}}
    </span>
  {{/if}}

  <div class="result-summary">

    {{#if isSuccess}}
      <h4><strong>Sukces!</strong></h4>
      {{#if extraSuccesses}}
        <p>Nadprogramowe sukcesy: {{extraSuccesses}}</p>
      {{/if}}

    {{else}}
      <p><strong>Porażka</strong></p>
    {{/if}}

    {{#if pech}}
      <p class="pech-warning">
        ⚠ Pech! (Na kościach adrenaliny wypadła 1)
      </p>
    {{/if}}

    {{#if iloscPrzerzuconych}}
      <p>Przerzucono:
        {{iloscPrzerzuconych}}
        Zwykłych kości i
        {{adrenalinaDice.rolls.length}}d6 Kości Adrenaliny</p>
    {{/if}}
  </div>

  <div class="dice-roll" data-action="expandRoll">

    <div class="dice-formula">{{formula}}</div>

      {{> "systems/wiedzmin_yze/templates/chat/wiedzmin-kosci.hbs"}}

  </div>
    {{#if isSuccess}}
  <div>

    {{#if cel}}
      <p>Cel: </p>
      <div class="target-info">
        {{#each cel}}
          <div class="target-token" data-targetID="{{this.id}}">
            <image src="{{this.img}}" width="50" height="50" />
            <label>{{this.name}}</label>
    
            {{#if (eq this.obrona 0)}}
              
              {{#if (eq ../czar.system.obrona.typ "brak")}}

              {{else}}
                {{#if (eq ../czar.system.obrona.typ "unik")}}
                  <button class="obrona_czar" data-obrona="unik" data-targetID="{{this.id}}">
                    <img class="unik-icon" src="systems\wiedzmin_yze\assets\jump.png" data-tooltip="Unik"></img>
                  </button>                
                  {{else}}
                    {{#if (eq ../czar.system.obrona.typ "wola")}}
                      <button class="obrona_czar" data-obrona="wola"  data-targetID="{{this.id}}">
                        <p data-tooltip="Wola">Wola</p>
                      </button>
                      {{else}}
                        {{#if (eq ../czar.system.obrona.typ "parowanie")}}
                          <button class="parowanie" data-obrona="parowanie"  data-targetID="{{this.id}}">
                            <p data-tooltip="Parowanie">Parowanie</p>
                          </button>
                          {{else}}
                            {{#if (eq ../czar.system.obrona.typ "kondycja")}}
                              <button class="obrona_czar" data-obrona="kondycja" data-targetID="{{this.id}}">
                                <p data-tooltip="Kondycja">Kondycja</p>
                              </button>
                              {{else}}
                                <p>Cel wykonuje test na                  
                                  {{../czar.system.obrona.inny}}
                                </p>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                {{/if}}
                <p> Z Modyfikatorem {{../czar.system.obrona.modyfikator}}</p>
              {{/if}}        
            {{else}}
              {{#if (eq this.obrona -1)}}
                <p>Porażka na Obronie przed czarem</p>
              {{else}}
                <p>Cel odniusł sukces na teście Obrony uzyskując {{this.obrona}} sukcesów.</p>
              {{/if}}
            {{/if}}
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
  {{#if (ne czar.system.cel.typ "pojedynczy")}}
  <div class="obszar">
    <button class="stworz-template" data-action="stworzTemplate"{{#if uzytoRegion}} disabled{{/if}} >
        <p>Stwórz {{czar.system.cel.typ}} o wielkości {{czar.system.cel.wartosc}} m</p>
    </button>
  </div>
  {{/if}}
  {{#if czar.system.obrazenia.zadajeObrazenia}}
    <div class="obrazenia">
   {{#if cel}}
    <button class="zadaj-obrazenia-czar" data-action="zadajObrazeniaCzar" {{#if zadanoObrazenia}} disabled {{/if}}>
      Zadaj obrażenia Celom
    </button>
    {{/if}}
    <button class="rzut-obrazenia-czar" data-action="rzutObrazeniaCzar" {{#if zadanoObrazenia}} disabled {{/if}}>
      Rzut na obrażenia
    </button>

  </div>
  {{/if}}
  {{/if}}
</div>