<div>
  <labelel>Próbujesz parować</labelel>
  <select class="parowanie">
    {{#each czymParujesz as |par|}}
      <option
        value="{{par.name}}"
        data-id="{{par.id}}"
        data-bonus="{{par.bonus}}"
      >
        {{par.name}}
        - Bonus do parowania:
        {{par.bonus}}
      </option>
    {{/each}}
  </select>
  <div class="mod">
    <label>Dodatkowy modyfikator</label>
    <input type="number" name="modifier" value="0" />
  </div>
  {{#if talenty}}
    <div class="flexcol">
      <label>Bonusy z Talentów</label>
      {{#each talenty as |item index|}}
        {{#if (ne item.system.bonu 0)}}
          <div class="talent-bonus">
            <label>{{item.name}}</label>
            <span>{{item.system.bonu}}</span>
            <div>
              <label>Talent ma zastosowanie?</label>
              <input type="checkbox" name="stosuje" data-id="{{index}}" />
            </div>
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
</div>