<form class="wiedzmin-roll-dialog flexcol">
  {{#if hasSecondAttribute}}
    <div class="form-group">
      <select class="wybrany-atr">
        {{#each secondArtibute}}
          <option
            value="{{this.value}}"
            data-label="{{this.label}}"
            data-key="{{key}}"
          >{{this.label}} Wartość {{this.value}}</option>
        {{/each}}
      </select>
    </div>
  {{else}}
    <div class="form-group">
      <label>Atrybut</label>
      <input type="number" value="{{attribute}}" readonly />
    </div>
  {{/if}}
  {{#if umiejkaLabel}}
    <div class="form-group">
      <label>Umiejętność</label>
      <input type="number" value="{{skill}}" readonly />
    </div>
  {{/if}}
  {{#if adrenalina}}
    <div class="form-group">
      <label>Adrenalina</label>
      <input type="number" value="{{adrenalina}}" readonly />
    </div>
  {{/if}}

  <hr />

  <div class="form-group">
    <label>Dodatkowy modyfikator</label>
    <input type="number" name="modifier" value="0" />
  </div>
  {{#if item}}
    <div class="flexcol">
      <label>Bonusy z Talentów</label>
      {{#each item as |item index|}}
        {{#if (ne item.system.bonu 0)}}
          <div class="talent-bonus">
            <label>{{item.name}}</label>
            <span>{{item.system.bonu}}</span>
            <div>
              <label>Talent ma zastosowanie?</label>
              <input type="checkbox" name="stosuje" data-id="{{index}}" />
            </div>
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
  {{#if maTelentBlokujacy}}
    <div class="form-group">
      <p>
        Liczba kości = Atrybut + Umiejętność + Modyfikator + Adrenalina +
        Talenty
      </p>
    </div>
  {{else}}
    <div class="form-group">
      <p>
        Liczba kości = Atrybut + Umiejętność + Modyfikator + Talenty
      </p>
    </div>
  {{/if}}

</form>