<form class="wiedzmin-roll-dialog flexcol">
    <div class="form-group">
      <label>Atrybut</label>
      <select name="attribute">
        {{#each attributesList as |attr|}}
          <option value="{{attr.value}}" data-label="{{attr.label}}" {{#if (eq attr.label ../atrubutLabel)}}selected{{/if}}>
            {{attr.label}} - ({{attr.value}})
          </option>
        {{/each}}
      </select>
    </div>


    <div class="form-group">
      <label>Umiejętność</label>
      <select name="skill">
        {{#each skillsList as |sk|}}
          <option value="{{sk.value}}" data-label="{{sk.label}}" {{#if (eq sk.label ../umiejkaLabel)}}selected{{/if}}>
            {{sk.label}} - ({{sk.value}})
          </option>
        {{/each}}
      </select>
    </div>

  {{#if adrenalina}}
    <div class="form-group">
      <label>Adrenalina</label>
      <input type="number" value="{{adrenalina}}" readonly />
    </div>
  {{/if}}
    <div class="form-group">
    <label>Dodatkowy modyfikator</label>
    <input type="number" name="modifier" value="0" />
  </div>


  <hr />
   <div class="form-group">
      <label>Dodatkowe obrażenia</label>
      <input type="number" class="bonusDoObrazen" />
    </div>

  {{#if (ne item.length 0)}}
    <div class="flexcol">
      <label>Bonusy z Talentów</label>
      {{#each item as |item index|}}
          <div class="talent-bonus">
            <label>{{item.name}}</label>
            {{#if item.system.zapewniaBonus}}
            <span>Bonus do rzutu:</span>
            <span>{{item.system.bonus}}</span>
            {{/if}}
            {{#if item.system.zwiekszoneObrazenia}}
             <span>Bonus do obrażeń</span>
             <span> {{item.system.bonusDoObrazen}}</span>
             {{/if}}
             {{#if item.system.zwiekszonaAdrenalina}}
            {{/if}}
            <div class="ma-zastosowanie">
              <label>Talent ma zastosowanie?</label>
              <input type="checkbox" name="stosuje" data-id="{{index}}" />
            </div>
          </div>

      {{/each}}
    </div>
  {{/if}}
  {{#if maTelentBlokujacy}}
    <div class="form-group">
      <p>
        Liczba kości = Atrybut + Umiejętność + Modyfikator + Adrenalina +
        Talenty
      </p>
    </div>
  {{else}}
    <div class="form-group">
      <p>
        Liczba kości = Atrybut + Umiejętność + Modyfikator + Talenty
      </p>
    </div>
  {{/if}}

</form>