<form class="wiedzmin-roll-dialog flexcol">

  <div class="form-group">
    <label>Atrybut</label>
    <input type="number" value="{{attribute}}" readonly />
  </div>

  <div class="form-group">
    <label>Umiejętność</label>
    <input type="number" value="{{skill}}" readonly />
  </div>

  {{#if adrenalina}}
    <div class="form-group">
      <label>Adrenalina</label>
      <input type="number" value="{{adrenalina}}" readonly />
    </div>
  {{/if}}

  <hr />

  <div class="form-group">
    <label>Dodatkowy modyfikator</label>
    <input type="number" name="modifier" value="0" />
  </div>
  {{#if (ne item.length 0) }}
   <div class="flexcol">
    <label>Bonusy z Talentów</label>
    {{#each item}}
      {{#if (ne item.system.bonu 0)}}
      <div class="talent-bonus">
      <label>{{this.name}}]</label>
      <span>{{this.system.bonu}}</span>
      </div>
      {{/if}}
    {{/each}}
   </div>
  {{/if}}
  <div class="form-group">
    <p>
      Liczba kości = Atrybut + Umiejętność + Modyfikator + Adrenalina + Talenty
    </p>
  </div>

</form>