<div class="czary-dialog">
  <label>Ilość Punktów Mocy potrzebna do rzucenia zaklęcia</label>
  <p>{{mocZaklecia}}</p>
</div>

<div class="czary-dialog">
  <label>Dostępna Moc:</label>
  <p>{{mocPostaci}}</p>
</div>
<div class="czary-dialog">
  <label>Dodatkowa wydana Moc</label>
  <input class="dodatkowa-moc" type="number" min="0" max="{{mocPostaci}}" />
</div>
<hr />
<div class="form-group">
  <label>Atrybut</label>
  <input type="number" value="{{attribute}}" readonly />
</div>

{{#if umiejkaLabel}}
  <div class="form-group">
    <label>Umiejętność</label>
    <input type="number" value="{{skill}}" readonly />
  </div>
{{/if}}
{{#if adrenalina}}
  <div class="form-group">
    <label>Adrenalina</label>
    <input type="number" value="{{adrenalina}}" readonly />
  </div>
{{/if}}

<hr />

<div class="form-group">
  <label>Dodatkowy modyfikator</label>
  <input type="number" name="modifier" value="0" />
</div>
<hr />
{{#if length}}
  <div class="flexcol">
    <label>Bonusy z Talentów</label>
    {{#each item as |item index|}}
      {{#if (ne item.system.bonu 0)}}
        <div class="talent-bonus">
          <label>{{item.name}}</label>
          <span>{{item.system.bonu}}</span>
          <div>
            <label>Talent ma zastosowanie?</label>
            <input type="checkbox" name="stosuje" data-id="{{index}}" />
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
{{/if}}