<section>
  <div class="profesja" data-item-id="{{item.id}}">
    <header class="profesja-header flexrow">
      <div class="image-container">
        <img
          class="profile-img"
          src="{{item.img}}"
          data-edit="img"
          data-action="editImage"
          data-edit="img"
        />
      </div>
      <h3>Nazwa Profesji
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Name"
        />
      </h3>
    </header>
    <div class="profesja-body">
      <div class="form-group enriched">
        <label>Opis</label>
        {{formInput
          opis.field
          value=opis.value
          enriched=opis.enriched
          toggled="true"
        }}
      </div>
    </div>
  </div>
  <div class="profesja-body">
    <div class="wymagana-rasa">
      <label>Wymagane rasy</label>
      {{#if (eq system.rasy.length 0)}}
        <label>Jeżeli profesja jest przypisana do konretych ras przeciągnij w to
          miejsce Przygotowaną wcześniej rase.
        </label>
      {{else}}
        <div class="rasy">
          {{#each system.rasy}}
            <button
              data-action="otworzPrzedmiot"
              data-id="{{this.uuid}}"
            >{{this.name}}</button>
            <button data-action="usunRase" data-id="{{this.uuid}}"><i class="fa fa-trash"></i></button>

          {{/each}}
        </div>
      {{/if}}
    </div>
        <div class="telenty">
           <label>Talenty z Profesji</label>
      {{#if (eq system.talenty.length 0)}}
        <label>Jeżeli profesja zapewnia Talent przeciągnij w to
          miejsce Przygotowany wcześniej Talent.
        </label>
      {{else}}
        <div class="talenty">
          {{#each system.talenty}}
            <button
              data-action="otworzPrzedmiot"
              data-id="{{this.uuid}}"
            >{{this.name}}</button>
            <button data-action="usunTalent" data-id="{{this.uuid}}"><i class="fa fa-trash"></i></button>

          {{/each}}
        </div>
      {{/if}}
    </div>
    <div class="atrybut-wiodacy">
      <div class="labels">
          <label>Wybierz wiodzacy Atrybut dla Profesji</label>
          {{#if (eq system.atrybutWiodacy.length 4)}}
          {{else}}
          <button data-action="dodajAtrybut"><i class="fa fa-plus"></i></button>
          {{/if}}
      </div>
     
        {{#each system.atrybutWiodacy as |atrybutWiodacy index|}}
          <div class="form-grup" > 
            {{formInput
                @root.systemFields.atrybutWiodacy.element
                name=(concat "system.atrybutWiodacy." index)
                value=atrybutWiodacy
              }}
          <button data-action="usunAtrybut" data-id="{{index}}"><i class="fa fa-trash"></i></button>
          </div>
        {{/each}}
    </div>
    <div class="ekwipunek">
        <label>Ekwipunek</label>
        {{formInput
          ekwipunek.field
          value=ekwipunek.value
          enriched=ekwipunek.enriched
          toggled="true"
        }}
    </div>
    <div class="cele-osobiste">
       <div class="labels">
        <label>Cele osobiste </label>
        <button data-action="dodajCel"><i class="fa fa-plus"></i></button>

       </div>
        {{#each system.celeOsobiste as |celeOsobiste index|}}
         <div class="form-grup" >
            {{formInput
                @root.systemFields.celeOsobiste.element
                name=(concat "system.celeOsobiste." index)
                value=celeOsobiste
            }}
            <button data-action="usunCel" data-id="{{index}}"><i class="fa fa-trash"></i></button>
            </div>
        {{/each}}
    </div>
    <div class="przedmoty-charakterystyczne">
       <div class="labels">
        <label>Charakterystyczne Przedmioty</label>
          <button data-action="dodajPrzedmiot"><i class="fa fa-plus"></i></button>

       </div>
        {{#each system.charakterystycznyPrzedmiot as |charakterystycznyPrzedmiot index|}}
         <div class="form-grup" >
        {{log charakterystycznyPrzedmiot}}
            {{formInput
                @root.systemFields.charakterystycznyPrzedmiot.element
                name=(concat "system.charakterystycznyPrzedmiot." index)
                value= charakterystycznyPrzedmiot
            }} 
            <button data-action="usunPrzedmiot" data-id="{{index}}"><i class="fa fa-trash"></i></button>
            </div>
        {{/each}}
    </div>
    <div class="zamoznosc">
        <label>Zamożność</label>
                {{formInput 
             @root.systemFields.zamoznosc
            name="system.zamoznosc"
            value=system.zamoznosc        
        }}
    </div>
    <div class="ogranicznie">
       <div class="labels">
        <label>Umiejętności zawodowe </label>
          <button data-action="dodajUmiejetnosc">
          <i class="fa fa-plus"></i></button>
       
       </div>

        {{#each system.umiejetnosciZawodowe as |umiejka index|}}
         <div class="form-grup" >
        <div class="umiejtenosci-zawodowe {{#if umiejka.wybor}} wybor {{/if}}">
        <div class="form-group">
         <label>Umiejetność</label>
        {{formInput
          @root.systemFields.umiejetnosciZawodowe.element.fields.umiejka
          name=(concat "system.umiejetnosciZawodowe." index ".umiejka")
          value= umiejka.umiejka
        }}</div>
        {{#if umiejka.wybor}}
        <div class="form-group">
        <label>Alternatywa Umiejetność</label>
        {{formInput
          @root.systemFields.umiejetnosciZawodowe.element.fields.umiejkaAlternatywna
          name =(concat "system.umiejetnosciZawodowe." index ".umiejkaAlternatywna")
          classes = "dodatkowy wybor"
          value= umiejka.umiejkaAlternatywna
        }}
        </div>
        {{/if}}
    
      <div class="form-group">
        <label>Bonus do Umiejętności</label>
        {{formInput  
        @root.systemFields.umiejetnosciZawodowe.element.fields.bonus 
        name=(concat "system.umiejetnosciZawodowe." index ".bonus")
        value = umiejka.bonus
        }}
      </div>
       <div class="form-group">
        <label>Posiada altrnatywną umiejtność?</label>
        {{formInput  
        @root.systemFields.umiejetnosciZawodowe.element.fields.wybor
        name=(concat "system.umiejetnosciZawodowe." index ".wybor")
        value = umiejka.wybor
        }}
       </div>
       <button data-action="usunUmiejetosc" data-id="{{index}}"><i class="fa fa-trash"></i></button>
      </div>
      </div>
        {{/each}}

    </div>
    </div>
  </div>
</section>